.como-funciona-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 90px;
}

.como-funciona{
    color: #9FF7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 1100px;
    border: 1px #9FF7F7 solid;
    padding: 60px;
    border-radius: 30px;
    gap: 50px;
    transition: transform 0.3s;
}
.como-funciona:hover{
    transform: scale(1.025);
}

.beneficios-cont{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 180px;
}

.beneficios{
    color: #9FF7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 1100px;
    border: 1px #9FF7F7 solid;
    padding: 60px;
    border-radius: 30px;
    gap: 50px;
    transition: transform 0.3s;
}
.beneficios:hover{
    transform: scale(1.025);
}
.beneficios-card-cont{
    display: flex;
    align-items: center;
    gap: 70px;
}
.beneficios-card{
    font-size: 1.6rem;
    font-weight: 500;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #11a3a3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 30px;
}
.footer-infos{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}
.footer-cont{
    display: flex;
    gap: 15px;
}
.footer-contact-card{
    display: flex;
    gap: 7px;
}