.orders-card{
    color: #000000;
    background-color: #ffffff;
    padding: 35px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}
.orders-card-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.orders-card-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.orders-card-rate{
    display: flex;
    align-items: center;
}

.orders-card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}