.pro-header{
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pro-cards-container{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-inline: 110px;
    margin-bottom: 140px;
    flex-wrap: wrap;
    gap: 70px;
}