.hero{
    background-color: #525252;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}
.hero-text{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-img{
    width: 330px;
    position: absolute;
    top: -40;
    left: 1400;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 170px;
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    padding-top: 60px;
    padding-bottom: 60px;
}
.services-card{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.3s;
}
.services-card:hover{
    transform: scale(1.05);
}
.services-card img{
    width: 180px;
}

.reviews{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #ffffff solid;
}
.reviews-title{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 150px;
    font-weight: 500;
}
.reviews-title span{
    font-size: 1rem;
}
.reviews-cont{
    margin-top: 60px;
    margin-bottom: 170px;
    display: flex;
    align-items: center;
    gap: 90px;
}
.reviews-card{
    width: 350px;
    font-size: 1.2rem;
}

.orders{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orders-title{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 150px;
    font-weight: 500;
}
.orders-title span{
    font-size: 1rem;
}
.orders-cont{
    margin-top: 60px;
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}