.pedidos-id-cont{
    background-color: #ffffff;
    width: 70%;
    padding: 50px;
    margin-top: 90px;
    margin-bottom: 120px;
    border-radius: 20px;
}
.pedidos-id-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 40px;
}
.pedidos-id-header-2{
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    width: 500px;
}
.pedidos-id-button{
    background-color: #17c6c6;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    width: 70%;
    margin-top: 40px;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
}
.pedidos-id-button:hover{
    background-color: #109e9e;
    transform: scale(1.05);
}
.pedidos-id-img{
    background-color: #17c6c6;
    width: 480px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.pedidos-id-infos{
    padding-inline: 60px;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}
.pedidos-id-infos h1{
    background-color: #17c6c6a8;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}